=begin
#Coinbase Exchange REST API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module CoinbasePro
  class CoinbaseAccountsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get all Coinbase wallets
    # Gets all the user's available Coinbase wallets (These are the wallets/accounts that are used for buying and selling on www.coinbase.com)
    # @param [Hash] opts the optional parameters
    # @return [Array<ApiCoinbaseAccount>]
    def exchange_restapi_get_coinbase_accounts(opts = {})
      data, _status_code, _headers = exchange_restapi_get_coinbase_accounts_with_http_info(opts)
      data
    end

    # Get all Coinbase wallets
    # Gets all the user&#39;s available Coinbase wallets (These are the wallets/accounts that are used for buying and selling on www.coinbase.com)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ApiCoinbaseAccount>, Integer, Hash)>] Array<ApiCoinbaseAccount> data, response status code and response headers
    def exchange_restapi_get_coinbase_accounts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoinbaseAccountsApi.exchange_restapi_get_coinbase_accounts ...'
      end
      # resource path
      local_var_path = '/coinbase-accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApiCoinbaseAccount>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthKey', 'ApiKeyAuthPassphrase', 'ApiKeyAuthSign', 'ApiKeyAuthTimestamp']

      new_options = opts.merge(
        :operation => :"CoinbaseAccountsApi.exchange_restapi_get_coinbase_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoinbaseAccountsApi#exchange_restapi_get_coinbase_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate crypto address
    # Generates a one-time crypto address for depositing crypto.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiCoinbaseAccountGeneratedDepositAddress]
    def exchange_restapi_post_coinbase_account_addresses(account_id, opts = {})
      data, _status_code, _headers = exchange_restapi_post_coinbase_account_addresses_with_http_info(account_id, opts)
      data
    end

    # Generate crypto address
    # Generates a one-time crypto address for depositing crypto.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiCoinbaseAccountGeneratedDepositAddress, Integer, Hash)>] ApiCoinbaseAccountGeneratedDepositAddress data, response status code and response headers
    def exchange_restapi_post_coinbase_account_addresses_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CoinbaseAccountsApi.exchange_restapi_post_coinbase_account_addresses ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CoinbaseAccountsApi.exchange_restapi_post_coinbase_account_addresses"
      end
      # resource path
      local_var_path = '/coinbase-accounts/{account_id}/addresses'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiCoinbaseAccountGeneratedDepositAddress'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthKey', 'ApiKeyAuthPassphrase', 'ApiKeyAuthSign', 'ApiKeyAuthTimestamp']

      new_options = opts.merge(
        :operation => :"CoinbaseAccountsApi.exchange_restapi_post_coinbase_account_addresses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CoinbaseAccountsApi#exchange_restapi_post_coinbase_account_addresses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
