=begin
#Coinbase Exchange REST API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0

=end

require 'cgi'

module CoinbasePro
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get user exchange limits
    # Gets exchange limits information for a single user.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApiUserExchangeTransferLimits]
    def exchange_restapi_get_user_exchange_limits(user_id, opts = {})
      data, _status_code, _headers = exchange_restapi_get_user_exchange_limits_with_http_info(user_id, opts)
      data
    end

    # Get user exchange limits
    # Gets exchange limits information for a single user.
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiUserExchangeTransferLimits, Integer, Hash)>] ApiUserExchangeTransferLimits data, response status code and response headers
    def exchange_restapi_get_user_exchange_limits_with_http_info(user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.exchange_restapi_get_user_exchange_limits ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.exchange_restapi_get_user_exchange_limits"
      end
      # resource path
      local_var_path = '/users/{user_id}/exchange-limits'.sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiUserExchangeTransferLimits'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuthKey', 'ApiKeyAuthPassphrase', 'ApiKeyAuthSign', 'ApiKeyAuthTimestamp']

      new_options = opts.merge(
        :operation => :"UsersApi.exchange_restapi_get_user_exchange_limits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#exchange_restapi_get_user_exchange_limits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
